button:focus {
  outline: 0;
}

body {
  display: flex;
  flex: 1;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#calculator {
  width: 340px;
  box-shadow: 0px 0px 1px 1px #a7a7a0;
  border-radius: 6px 6px 0px 0px;
}

#output {
  box-shadow: 0px 0px 1px 1px #a7a7a0;
  background-color: #031d38;
  color: black;
  display: table;
  border-radius: 6px 6px 0px 0px;
  flex-shrink: 1;
}

#output-text {
  text-align: right;
  font-size: 45pt;
  height: 100px;
  line-height: 120px;
  width: 310px;
  margin-right: 20px;
  flex: 1;
  flex-shrink: 1;
}
#screen {
  border-radius: 6px 6px 1px 1px;
  margin: 5px;
  background-color: #f0f3f4;
}
